<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="css/style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <meta name="description" content="Bitter Mobile Template">
      <meta name="keywords" content="bootstrap, mobile template, bootstrap 4, mobile, html, responsive" />
      <link rel="stylesheet" href="css/accounts/login.css">
   </head>
   <body >
      <%-include("../partials/flash.ejs")%>
      <div class="appContent3 text-white">
         <div   class="">
            <div  class="">
               <div  class="appHeader1">
                   <a href="/home"><img src="images/accounts/icons8-arrow-50.png" class="back"></a>
               <div class="pageTitle"><img style="width: 120px;" src="images/accounts/my1.png"></div></div>
            </div>
           
            <!--<img  src="/512x512bb.jpg" class="logo1">-->
         </div>
         
         <div class="apc1">
             <h1>Login </h1>    
             <div class="apc2">
                 <span>Please log in with your phone number or email  </span><br>
                 <span>If you forget your password, please contact customer service  </span>
             </div>
        </div>
        
        
      </div>
      <div style="background-image: linear-gradient(to right, #C00203 , red);"  id="appCapsule">
         <div style="background:#f7f8ff; " class="appContent1">
            
            <div style="text-align: center;border-bottom: 1px solid #ddd;" >
                
               <div class="lwp">
                   <img src="images/accounts/phone.png">
                   <span>Login With Username</span>
               </div>
               
            </div>
            <form action="/login" id="loginForm" method="post" class="card-body" autocomplete="off">
               <p class="e-phone">
                   <img class="ephone" src="images/accounts/ephone.png">Username</p>
               <div class="inner-addon left-addon custom-left">
                  <div class="number-img">
                  </div>
                  <span style="top: 10px;left: 30;position: absolute;font-weight:400;font-size: 14px;color: #f2413b;padding-left: 10px;"></span>
                  <input type="text" value="" name="username" class="form-control textbox textbox1" placeholder="enter you username" maxlength="20">
               </div>
               <p class="e-phone">
                   <img class="ephone" src="images/accounts/pass.png">Password</p>
               <div class="inner-addon  custom-left ">
                  <div class="number-img">
                  </div>
               <input type="text" style="-webkit-text-security: square;" onkeypress="changeinputformat(this.id)"  name="password" id="login_password" name="login_password" class="form-control textbox textbox2" minlength="5"  placeholder="Please Enter Password">
               
               </div>
               <div class="text-center">
                  <button type="submit" class="sumbitbtn">Log In</button>
                  
                  
               </div>
               <div class="text-center" onclick="window.location.href = '/signup';">
                  <h class="reg" href="/signup"> Register</h>
                  
               </div>
               <div style="font-size:17px; color: red;font-weight:400; " class="text-center mt-2 mld">
                   
                        <div class="ml" style="color: red;" onclick="window.location.href = './reset_password';">
                          <img src="images/accounts/forgetp.png" style="width: 40px;">
                          <span>Forgot Password </span>
                        </div> 
                     
                        <div class="ml" style="color: red;" onclick="window.location.href = './helpcenter';">
                          <img src="images/accounts/customer.png" style="width: 40px;">
                          <span>Customer Service </span>
                        </div> 
                </div>
         </div>
         </form>
      </div>
      
      <div id="registertoast" class="modal fade1" role="dialog">
         <div class="modal-dialog regLog" role="document">
            <div class="modal-content regContent">
               <div class="modal-body">
                  <div class="text-center" id="regtoast">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="js/accounts/account.js"></script>         
   </body>
</html>