<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="css/accounts/register.css">
</head>

<body>
    <%-include("../partials/flash.ejs")%>
    <!-- App Header -->
    <div class="">
        <div  class="">
           <div  class="appHeader1">
               <a href="/home"><img width="100" src="images/accounts/icons8-arrow-50.png" class="back"></a>
           <div class="pageTitle"><img style="width: 90px;" src="https://i.postimg.cc/rpSyhHYW/pixlr-image-generator-99a4fb45-53fa-464e-8f92-a4402c67fe4d.webp"></div></div>
        </div>
    <div class="appHeader1">
        <div class="left">
            <a href="/login" class="icon goBack"> <img src="images/accounts/back.png" class="back"> </a>
        </div>
        <div class="pageTitle">Register</div>
    </div>
    <!-- * App Header -->
    <!-- App Capsule -->
    <div id="appCapsule">
        <div class="appContent1 mb-2">
            <form action="/signup" method="post" id="Register" class="card-body" autocomplete="off">
                <p style="color:#959595; font-size:16px; font-weight:400;padding-bottom:10px;">phone number format: +91
                </p>
                <div class="inner-addon left-addon custom-left">
                    <div class="number-img">
                        <img src="images/accounts/mobile.png">
                    </div>
                    <span
                        style="top: 12px;left: 30;position: absolute;font-weight:400;font-size: 17px;color: #f2413b;padding-left: 33px;">+91</span>
                    <input type="tel" name="mobile" id="mobile" class="form-control textbox textbox1"
                        placeholder="Mobile" onKeyPress="return isNumber(event)" maxlength="10">
                </div>
                <div class="inner-addon left-addon custom-left mt-3">
                    <div class="number-img">
                        <img src="images/accounts/lock.png">
                    </div>
                    <input type="password" name="password" id="password" class="form-control textbox textbox2"
                        placeholder="Password">
                </div>
                <div class="inner-addon left-addon custom-left mt-3">
                    <div class="number-img">
                        <img class="width" src="images/accounts/refer.png">
                    </div>

                    <input type="text" name="username" id="rcode" class="form-control textbox textbox2"
                        placeholder="username" >
                </div>
                <div class="form-group row mt-3 mb-3">
                    <div class="col-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" style="background:red" checked class="custom-control-input"
                                id="remember" name="remember">
                            <label style="color:white" class="custom-control-label text-muted" for="remember">I Agree <a
                                    style="color:red" data-toggle="modal" href="#privacy" data-backdrop="static"
                                    data-keyboard="false">PRIVACY POLICY</a></label>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn submitbtn">Register</button>
                    </div>
                    <div class="text-center mt-3">
                        <a href="./login" class="registerback">Already have an account, log in</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

   
    <!-- Main Js File -->
    <script src="js/accounts/account.js"></script>

</body>

</html>